html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #686868;
    ;
    border-radius: 10px;
}
body{
    margin: 0;
    cursor: url(../assets/images/default.svg), default;
    background-color: #14120F;
    font-family: "Rubik one";
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: url(../assets/images/pointer.svg), pointer;
}
button{
    background-color: #14120F;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
    font-family: "Rubik one";
}
p{
    color: #fff;
    font-size: 36px;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}


.header{
    background-color: #420063;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
}
.header__inner{
    padding: 20px 0 10px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__img{
    cursor: url(../assets/images/pointer.svg), pointer;
}
.logo__img2{
    display: none;
    cursor: url(../assets/images/pointer.svg), pointer;
    
}
.button__head{
    background-color: #420063;
    color: #fff;
    font-size: 24px;
    
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    transition: 0.3s;
}

.search1{
    background-color: #fff;
    width: 208px;
    height: 47px;
    border-radius: 50px;
    transition: 0.3s;
}
.searching{
    padding: 0 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    border-radius: 90px;
    
}
.search__txt{
    outline: none;
    font-size: 14px;
    height: 35px;
    width: 122px;
    border-radius: 50px;
    border: none;
    font-family: "Rubik one";
    transition: 0.3s;
}
.buttonsr{
    background-color: #ffffff;
    outline: none;
    border-radius: 50px;
    width: 50px;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
}
.search2{
    display: none;
}
.buttonsr2{
    background-color: #ffffff;
    outline: none;
    border-radius: 60px;
    width: 45px;
    height: 45px;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
}
.buttonmm{
    display: flex;
    align-items: center;
    background-color: #420063;
    color: #fff;
    font-size: 24px;
}
.buttonmm2{
    display: none;
    align-items: center;
    background-color: #420063;
    color: #fff;
    font-size: 24px;
}
.link__registr{
    padding-left: 20px;
}
.menu__btn{
    display: none;
    border: none;
    outline: none;
    width: 60px;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}
.menu__btn span {
    background-color: #ffffff;
    height: 8px;
    border-radius: 2px;
    width: 100%;
}
.dropdown {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 140px;
    right: 0;
    background-color: #5d018c;
    border-radius: 0 0 10px 10px;
    z-index: 998;
}
.menu__list{
    padding: 20px 30px 40px 30px;
}
.menu__page{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.id__img{
    width: 70%;
}
.searchdop{
    background-color: #fff;
    width: 208px;
    height: 47px;
    border-radius: 50px;
    transition: 0.3s;
}
.searchingdop{
    padding: 0 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    border-radius: 90px;
    
}
.search__txtdop{
    outline: none;
    font-size: 12px;
    height: 35px;
    width: 122px;
    border-radius: 50px;
    border: none;
    font-family: "Rubik one";
    transition: 0.3s;
}
.buttonsrdop{
    background-color: #ffffff;
    outline: none;
    border-radius: 50px;
    width: 50px;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
}
.button__headdop{
    background-color: #5d018c;
    color: #fff;
    font-size: 16px;
    font-family: "Rubik one";
}
.buttonmmdop{
    display: flex;
    align-items: center;
    background-color: #5d018c;
    color: #fff;
    font-size: 16px;
    font-family: "Rubik one"; 
}



.main{
    padding-top: 150px;
}
.skin__info{
    padding-bottom: 80px;
}
.skin__title{
    padding-left: 10px;
}
.skin__title p{
    text-align: center;
}
.information{
    display: flex;
    justify-content: space-between;
}
.osnova__image{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.img__list__small{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 10px;
    background-color: #22221E;
    border-radius: 10px;
}
.img__list__small img{
    width: 150px;
    height: 152px;
    cursor: url(../assets/images/pointer.svg), pointer;
}
.img__list__large{
    display: flex;
}
.large__img{
    width: 100%;
    height: 100%;
}

.list__pay{
    padding: 40px 30px 25px 30px;
    border-radius: 10px;
    background-color: #22221E;
}
.price__text__title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    border-radius: 10px;
    width: 300px;
    padding: 15px 0;
}
.price__text__title span{
    color: #F0F72F;
    font-size: 32px;
}
.payment__text{
    display: flex;
    justify-content: center;
}
.payment__text p{
    font-size: 24px;
}
.button__pay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22221E;
    border-radius: 10px;
    border-style:solid;
    border-color:#424242;
}
.pay{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 10px;
    flex-grow: 1;
    transition: 0.4s;
}
.pay:focus{
    background-color: #424242;
}

.balance__list{
    margin: 20px 0;
    background-color: #424242;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.balance__list__info{
   padding: 20px 0;
  
}
.balance__title{
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.balance__title span{
    color: #ffffff;
    font-size: 24px;
}
.info__pay{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__pay p{
    color: #F0F72F;
    font-size: 32px;
}
.balance__gems{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0F72F;
}
.balance__gems span{
    color: #F0F72F;
}
.gems__img{
    padding-top: 4px;
}
.gems__img img{
    width: 80%;
}
.link__pay{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.button__link__pay{
    color: #ffffff;
    background-color: #8700CA;
    font-size: 24px;
    border-radius: 10px;
    padding: 14px 38px;
    transition: 0.3s;
}
.button__link__pay:hover{
    background-color: #B011FF;
}

.addition{
    padding-bottom: 120px;
}
.addition__title{
    display: flex;
    justify-content: center;
    
}
.addition__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pers__text{
    width: 530px;
    padding-left: 20px;
}
.pers__text p{
    font-size: 20px;
}
.product__title{
    display: flex;
    justify-content: center;
}
.content__other__product{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.other__products__info{
    background-color: #22221E;
    border-radius: 10px;
    padding: 20px 60px 0 60px;
}
.product__list{
    display: grid;
    grid-template-columns: repeat(3, 266px);
    grid-gap: 63px; 
    padding-bottom: 30px;
    transition: 0.3s;
}
.product__name{
    display: flex;
    justify-content: center;
}
.product{
    width: 100%;
    border-radius: 15px;
    padding-top: 10px;
    background-color: #22221E;
}
.product:hover{
    background-color: #3d3d36;
    transition: 0.3s;
}
.product__img{
    background-color: #1c99e7;
    border-radius: 15px;
    height: 266px;
    width: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.img__pr{
    width: 60%;
}
.img__prb{
    width: 70%;
}
.img__prg{
    width: 50%;
}
.name__info{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    flex-wrap: wrap;
    width: 250px;
}
.name__txt{
    padding-top: 10px;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.price__txt{
    font-size: 24px;
    text-align: left;
    color: #f0f72f;
}


.footer{
    background-color: #14120F;
    background-size: cover;
    padding: 36px 0 10px;
    border-width: 5px;
    border-color: #6e6e6e;
    border-top-style: solid;
}
.social__list{
    display: flex;
    justify-content: space-between;
}
.mail__title{
    display: flex;
    justify-content: center;
}
.footer__txt{
    font-size: 20px;
}
.mail__link a{
    color: #A0A0A0;
    font-size: 20px;
    text-decoration: underline;
}
.media__title{
    display: flex;
    justify-content: center;
}

.media__icons{
    display: flex;
    justify-content: center;
}
.media__link{
    display: flex;
    gap: 20px;
    align-items: center;
}
.werewolf p{
    padding-top: 30px;
    color: #403f3f;
    font-size: 18px;
}


@font-face{
    font-family: "Rubik one";
    src: url(../assets/fonts/RubikOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}



@media(max-width: 1260px){
    .price__text__title{
        width: 100%;
    }
    .balance__title{
        width: 200px;
    }
    .balance__list__info{
        padding: 20px 10px;
       
     }
    .balance__title span{
        color: #ffffff;
        font-size: 20px;
    }
    .balance__gems span{
        color: #F0F72F;
    }
} 
@media(max-width: 1210px){
    .logo__img{
        display: none;
    }
    .logo__img2{
        display:flex;
    }
    .img__list__small img {
        width: 140px;
        height: 142px;
    }
    .img__list__large{
        width: 496px;
        height: 503px;
    }
    .list__pay{
        padding: 30px;
    }
} 

@media(max-width: 1160px){
    .information{
        align-items: flex-start;
    }
    .img__list__large{
        width: 466px;
        height: 473px;
    }
    .img__list__small img {
        width: 130px;
        height: 132px;
    }
    .product__img{
        height: 236px;
        width: 236px;
    }
    .product__list{
        grid-template-columns: repeat(3, 236px);
        grid-gap: 43px; 
    }
}
@media(max-width: 1120px){
    .addition__list{
        flex-direction: column;
    }
    .img__list__large{
        width: 426px;
        height: 433px;
    }
    .img__list__small img {
        width: 120px;
        height: 122px;
    }
    .pers__text {
        width: 730px;
       padding-left: 0;
    }
    .pers__text p {
        text-align: center;
    }
}
@media(max-width: 1080px){
    .img__list__large{
        width: 376px;
        height: 383px;
    }
    .osnova__image {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
    }
    .img__list__small {
        gap: 14px;
        flex-direction: row;
    }
    .img__list__small img {
        width: 110px;
        height: 112px;
    }
}
@media(max-width: 990px){
    p{
        font-size: 36px;
    }
}
@media(max-width: 960px){
    .search__txt{
        width: 92px;
    }
    .search1{
        width: 178px;
    }
    .product__list{
        grid-template-columns: repeat(2, 236px);
        grid-gap: 43px; 
    }
   
}
@media(max-width: 935px){

    .button__head{
        font-size: 20px;
    }
    .search1{
        width: 138px;
    }
    .search__txt{
        width: 52px;
    }
    .buttonmm{
        font-size: 20px;
    }
    
    
    .footer__txt{
        font-size: 16px;
    }
    .mail__link a{
        font-size: 16px;
    }
    .werewolf p{
        font-size: 14px;
    }
}
@media(max-width: 910px){
    .skin__title {
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 860px){
    p{
        font-size: 28px;
    }
    .logo__img2{
        width: 80%;
    }
    .main{
        padding-top: 130px;
    }
    .dropdown {
        margin-top: 100px;
    }
    .buttonmm{
        display: none;
    }
    .buttonmm2{
        display: flex;
    }
    .button__head{
        width: 80%;
    }
    .mail__title{
        width: 250px;
    }
    .navigation{
        gap: 15px;
    }
    .container{
        padding-left: 70px;
        padding-right: 70px;
    }
    .information {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .pers__text {
        width: 530px;
    }
    .list__pay {
        padding: 20px;
    }
    .price__text__title {
        width: 360px;
    }
    .price__text__title span {
    color: #F0F72F;
    font-size: 28px;
    }
    .balance__title span {
        font-size: 24px;
    }
    .balance__gems span{
        color: #F0F72F;
    }
    .balance__title {
        width: 260px;
    }
    .gems{
        width: 40%;
    }
    .gemsw{
        width: 30%;
    }
    .old__price{
        padding-top: 5px; 
    }
}

@media(max-width: 765px){
    
    .search1{
        display: none;
    }
    .search2{
        display: flex;
    }
    .navigation{
        gap: 10px;
    }
    .product__list{
        grid-template-columns: repeat(1, 306px);
        grid-gap: 63px; 
    }
    .product__img{
        height: 306px;
        width: 306px;
    }
    .name__txt{
        font-size: 30px;
    }
    .price__txt{
        font-size: 30px;
    }
    .name__info{
        width: 300px;
    }
    .old__price{
        padding-top: 10px; 
        font-size: 16px;
    }
}

@media(max-width: 690px){
    .container{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width: 670px){
    .pers__text {
        width: 430px;
    }
    .pers__text p{
        font-size: 18px;
    }
}

@media(max-width: 620px){
    .menu__btn{
        display: flex;
    }
    .productcat{
        display: none;
    }
    .search2{
        display: none;
    }
    .balance__pay{
        display: none;
    }
    .link__registr{
        display: none;
    }
    .footer__txt{
        font-size: 16px;
    }
    .mail__title{
        width: 180px;
    }
    .mail__link a{
        font-size: 16px;
    }
    .media__link{
        gap: 10px;
    }
}
@media(max-width: 600px){
    .addition__title p{
       text-align: center;
    }
    .footer__txt{
        font-size: 14px;
    }
    .mail__title{
        width: 160px;
    }
    .mail__link a{
        font-size: 14px;
    }
    .media__link{
        gap: 10px;
    }
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    
}
@media(max-width: 540px){
   
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }
    .product__list{
        grid-template-columns: repeat(1, 256px);
    }
    .product__img{
        height: 256px;
        width: 256px;
    }
    .name__txt{
        font-size: 24px;
    }
    .price__txt{
        font-size: 24px;
    }
    .name__info{
        width: 250px;
    }
    .pers__text {
        width: 330px;
    }
    .pers__info{
        display: flex;
        justify-content: center;
    }
    .pers__info{
        width: 80%;
    }
    .old__price{
        padding-top: 8px; 
        font-size: 14px;
    }
}
@media(max-width: 500px){
    .img__list__large {
        width: 356px;
        height: 363px;
    }
    .img__list__small img {
        width: 100px;
        height: 102px;
    }
    .price__text__title {
        width: 100%;
    }
    .social__list{
        display: flex;
        flex-direction: column;
    }
    .mail{
        margin: 0 auto;
    }
    .footer__txt{
        text-align: center;
    }
    .mail__link{
        display: flex;
        justify-content: center;
    }
    .help__link{
        display: flex;
        justify-content: center;
    }
    .werewolf{
        display: flex;
        justify-content: center;
    }
   
}
@media(max-width: 460px){
    .logo__img2{
        width: 70%;
    }
    .main{
        padding-top: 110px;
    }
    .dropdown {
        margin-top: 90px;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .product__list{
        grid-template-columns: repeat(1, 216px);
        grid-gap: 43px; 
    }
    .product__img{
        height: 216px;
        width: 216px;
    }
    .name__txt{
        font-size: 20px;
    }
    .price__txt{
        font-size: 20px;
    }
    .name__info{
        width: 210px;
    }
    .img__list__large {
        width: 336px;
        height: 343px;
    }
    .img__list__small img{
        width: 95px;
        height: 97px;
    } 
    .addition {
        padding-bottom: 80px;
    }
    .price__text__title {
        width: 230px;
        margin: 0 auto;
    }
    .payment__text p {
        font-size: 18px;
    }
    .pay {
        font-size: 14px;
    }
    .balance__title {
        width: 250px;
    }
    .balance__title span {
        font-size: 20px;
    }
    .gems__img{
        width: 30px;
        height: auto;
    }
    .button__link__pay {
        font-size: 20px;
        padding: 14px 38px;
    }
    .price__text__title span {
        font-size: 22px;
    }
    .price__gem{
        display: flex;
        justify-content: center;
        width: 30px;
        height: auto;
    }
    .old__price{
        padding-top: 6px; 
        font-size: 12px;
    }
}

@media(max-width: 420px){
    p {
        font-size: 24px;
    }
    .product__list{
        grid-template-columns: repeat(1, 186px);
        grid-gap: 33px; 
    }
    .product__img{
        height: 186px;
        width: 186px;
    }
    .name__txt{
        font-size: 18px;
    }
    .price__txt{
        font-size: 18px;
    }
    .name__info{
        width: 180px;
    }
    .img__list__large {
        width: 316px;
        height: 323px;
    }
    .img__list__small img{
        width: 90px;
        height: 92px;
    } 
    .old__price{
        padding-top: 4px; 
        font-size: 10px;
    }
}
@media(max-width: 410px){
    .pers__text {
        width: 230px;
    }
    .pers__text p{
        font-size: 16px;
    }
}
@media(max-width: 400px){
    .img__list__large {
        width: 296px;
        height: 303px;
    }
    .img__list__small img{
        width: 80px;
        height: 82px;
    } 
    .price__text__title {
        width: 200px;
    }
    .payment__text p {
        font-size: 18px;
    }
    .pay {
        font-size: 14px;
        padding: 6px 6px;
    }
    .balance__title {
        width: 200px;
    }
    .balance__title span {
        font-size: 18px;
    }
    .gems__img{
        width: 30px;
    }
    .button__link__pay {
        font-size: 18px;
        padding: 14px 38px;
    }
    .price__text__title span {
        font-size: 20px;
    }
    .price__gem{
        width: 30px;
        height: auto;
    }

}

@media(max-width: 370px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .product__list{
        grid-template-columns: repeat(1, 156px);
        grid-gap: 33px; 
    }
    .product__img{
        height: 156px;
        width: 156px;
    }
    .name__txt{
        font-size: 16px;
    }
    .price__txt{
        font-size: 16px;
    }
    .name__info{
        width: 150px;
    }
    .old__price{
        padding-top: 6px; 
    }
}
@media(max-width: 340px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .product__list{
        grid-template-columns: repeat(1, 126px);
        grid-gap: 23px; 
    }
    .product__img{
        height: 126px;
        width: 126px;
    }
    .name__txt{
        font-size: 12px;
    }
    .price__txt{
        font-size: 12px;
    }
    .name__info{
        width: 125px;
    }
    .img__list__large {
        width: 256px;
        height: 263px;
    }
    .img__list__small img {
        width: 70px;
        height: 72px;
    }
    .gems{
        width: 30%;
    }
    .gemsw{
        width: 20%;
    }
}