html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #686868;
    ;
    border-radius: 10px;
}
body{
    margin: 0;
    cursor: url(../assets/images/default.svg), default;
    background-color: #14120F;
    font-family: "Rubik one";
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: url(../assets/images/pointer.svg), pointer;
}
button{
    background-color: #14120F;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
}
p{
    color: #fff;
    font-size: 40px;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}


.header{
    background-color: #420063;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
}
.header__inner{
    padding: 20px 0 10px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__img{
    cursor: url(../assets/images/pointer.svg), pointer;
}
.logo__img2{
    display: none;
    cursor: url(../assets/images/pointer.svg), pointer;
    
}
.button__head{
    background-color: #420063;
    color: #fff;
    font-size: 24px;
    font-family: "Rubik one";
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    transition: 0.3s;
}

.search1{
    background-color: #fff;
    width: 208px;
    height: 47px;
    border-radius: 50px;
    transition: 0.3s;
}
.searching{
    padding: 0 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    border-radius: 90px;
    
}
.search__txt{
    outline: none;
    font-size: 14px;
    height: 35px;
    width: 122px;
    border-radius: 50px;
    border: none;
    font-family: "Rubik one";
    transition: 0.3s;
}
.buttonsr{
    background-color: #ffffff;
    outline: none;
    border-radius: 50px;
    width: 50px;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
}
.search2{
    display: none;
}
.buttonsr2{
    background-color: #ffffff;
    outline: none;
    border-radius: 60px;
    width: 45px;
    height: 45px;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
}
.buttonmm{
    display: flex;
    align-items: center;
    background-color: #420063;
    color: #fff;
    font-size: 24px;
    font-family: "Rubik one"; 
}
.buttonmm2{
    display: none;
    align-items: center;
    background-color: #420063;
    color: #fff;
    font-size: 24px;
    font-family: "Rubik one"; 
}
.link__registr{
    padding-left: 20px;
}
.menu__btn{
    display: none;
    border: none;
    outline: none;
    width: 60px;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}
.menu__btn span {
    background-color: #ffffff;
    height: 8px;
    border-radius: 2px;
    width: 100%;
}
.dropdown {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 140px;
    right: 0;
    background-color: #5d018c;
    border-radius: 0 0 10px 10px;
    z-index: 998;
}
.menu__list{
    padding: 20px 30px 40px 30px;
}
.menu__page{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.id__img{
    width: 70%;
}
.searchdop{
    background-color: #fff;
    width: 208px;
    height: 47px;
    border-radius: 50px;
    transition: 0.3s;
}
.searchingdop{
    padding: 0 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    border-radius: 90px;
    
}
.search__txtdop{
    outline: none;
    font-size: 12px;
    height: 35px;
    width: 122px;
    border-radius: 50px;
    border: none;
    font-family: "Rubik one";
    transition: 0.3s;
}
.buttonsrdop{
    background-color: #ffffff;
    outline: none;
    border-radius: 50px;
    width: 50px;
    border: none;
    cursor: url(../assets/images/pointer.svg), pointer;
}
.button__headdop{
    background-color: #5d018c;
    color: #fff;
    font-size: 16px;
    font-family: "Rubik one";
}
.buttonmmdop{
    display: flex;
    align-items: center;
    background-color: #5d018c;
    color: #fff;
    font-size: 16px;
    font-family: "Rubik one"; 
}



.main{
    padding-top: 150px;
    background-image: url(../assets/images/bgreg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pay__list{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
}
.balance__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}
.balance__title span{
    color: #ffffff;
    font-size: 36px;
}
.balance__menu__title {
    background-color: #2C3036;
    border-radius: 10px;
    padding: 10px 60px 40px 60px;
    transition: 0.3s;
}
.balance__txt{
    display: flex;
    justify-content: center;
}
.balance__txt p{
    font-size: 28px;
}
.field__registr{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.registr__txt{
    outline: none;
    background-color: #16191E;
    color: #ffffff;
    border-color: #20252C;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 500px;
    height: 70px;
    font-size: 16px;
    padding-left: 20px;
    font-family: "Rubik one";
    transition: 0.3s;
}
.buttons__balance{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.balancebutt1{
    border-radius: 10px 0 0 10px;
}
.balancebutt4{
    border-radius: 0 10px 10px 0;
}
.buttons__balance button{
    font-family: "Rubik One";
    padding: 10px 35px;
    font-size: 20px;
    color: #ffffff;
    background-color: #4D0074;
    transition: 0.3s;
    border-color: #8700CA;
    border-style: solid;
    border-width: 2px;
    transition: 0.3s;
}
.buttons__balance button:hover{
    background-color: #8700CA;
    
}
.button__refill{
    display: flex;
    justify-content: center;
}
.refillbutt{
    font-family: "Rubik one";
    font-size: 20px;
    color: #ffffff;
    background-color: #8700CA;
    border: none;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    transition: 0.3s;
}
.refillbutt:hover{
    background-color: #b011ff;
}
.agreement{
    display: flex;
    justify-content: center;
}
.agreement__list{
    padding-top: 20px;
    width: 500px;
    transition: 0.3s;
}
.agreement__text{
    cursor: url(../assets/images/pointer.svg), pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.real__checkbox{
    display: none;
}
.custom__checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: #16191E;
    margin-right: 5px;
    position: relative;
    padding-right: 20px;
}
.custom__checkbox::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../assets/images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 4px;
    top: 5px;
    display: none;
}
.real__checkbox:checked + .custom__checkbox::before{
    display: flex;
}
.check__txt{
    font-size: 14px;
    color: #ffffff;
}




.footer{
    background-color: #14120F;
    background-size: cover;
    padding: 36px 0px 10px;
    border-width: 5px;
    border-color: #6e6e6e;
    border-top-style: solid;
}
.social__list{
    display: flex;
    justify-content: space-between;
}
.mail__title{
    display: flex;
    justify-content: center;
}
.footer__txt{
    font-size: 20px;
}
.mail__link a{
    color: #A0A0A0;
    font-size: 20px;
    text-decoration: underline;
}
.media__title{
    display: flex;
    justify-content: center;
}

.media__icons{
    display: flex;
    justify-content: center;
}
.media__link{
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;
}
.werewolf p{
    padding-top: 30px;
    color: #403f3f;
    font-size: 18px;
}


@font-face{
    font-family: "Rubik one";
    src: url(../assets/fonts/RubikOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}


@media(max-width: 1210px){
    .logo__img{
        display: none;
    }
    .logo__img2{
        display:flex;
    }
} 
@media(max-width: 960px){
    .search__txt{
        width: 92px;
    }
    .search1{
        width: 178px;
    }
}
@media(max-width: 935px){
    p{
        font-size: 36px;
    }
    .button__head{
        font-size: 20px;
    }
    .search1{
        width: 138px;
    }
    .search__txt{
        width: 52px;
    }
    .buttonmm{
        font-size: 20px;
    }
   

    .footer__txt{
        font-size: 16px;
    }
    .mail__link a{
        font-size: 16px;
    }
    .werewolf p{
        font-size: 14px;
    }
}
@media(max-width: 860px){
    .logo__img2{
        width: 80%;
    }
    .main{
        padding-top: 130px;
    }
    .buttonmm{
        display: none;
    }
    .buttonmm2{
        display: flex;
    }
    .button__head{
        width: 80%;
    }
    .dropdown {
        margin-top: 100px;
    }
    .mail__title{
        width: 250px;
    }
    .navigation{
        gap: 15px;
    }
    .container{
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media(max-width: 765px){
    .search1{
        display: none;
    }
    .search2{
        display: flex;
    }
    .navigation{
        gap: 10px;
    }
}
@media(max-width: 690px){
    .balance__title span{
        font-size: 32px;
    }
    .balance__menu__title {
        padding: 10px 40px 40px 40px;
    }
    .balance__txt p{
        font-size: 24px;
    }
    .registr__txt{
        width: 480px;
    }
    .refillbutt{
        width: 480px;
    }
    .buttons__balance button{
        padding: 10px 32px;
    }
    .agreement__list{
        width: 480px;
    }
    .container{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width: 650px){
    
    .balance__menu__title {
        padding: 10px 35px 40px 35px;
    }
    
    .registr__txt{
        width: 440px;
    }
    .refillbutt{
        width: 440px;
    }
    .buttons__balance button{
        padding: 10px 28px;
    }
    .agreement__list{
        width: 440px;
    }
}
@media(max-width: 620px){
    .menu__btn{
        display: flex;
    }
    .product{
        display: none;
    }
    .search2{
        display: none;
    }
    .balance__pay{
        display: none;
    }
    .link__registr{
        display: none;
    }
    .footer__txt{
        font-size: 16px;
    }
    .mail__title{
        width: 180px;
    }
    .mail__link a{
        font-size: 16px;
    }
    .media__link{
        gap: 10px;
    }
}
@media(max-width: 600px){
    .balance__title span{
        font-size: 28px;
    }
    .balance__menu__title {
        padding: 10px 25px 40px 25px;
    }
    
    .registr__txt{
        width: 400px;
    }
    .refillbutt{
        width: 400px;
    }
    .buttons__balance button{
        padding: 10px 22px;
    }
    .agreement__list{
        width: 400px;
    }
    .footer__txt{
        font-size: 14px;
    }
    .mail__title{
        width: 160px;
    }
    .mail__link a{
        font-size: 14px;
    }
    .media__link{
        gap: 10px;
    }
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media(max-width: 540px){
    .balance__title span{
        font-size: 26px;
    }
    .balance__menu__title {
        padding: 10px 20px 40px 20px;
    }
    .balance__txt p{
        font-size: 20px;
    }
    .registr__txt{
        width: 360px;
    }
    .refillbutt{
        width: 360px;
        font-size: 18px;
    }
    .buttons__balance button{
        padding: 10px 18px;
        
    }
    .agreement__list{
        width: 360px;
    }
    .check__txt{
        font-size: 12px;
    }
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }
    
}
@media(max-width: 500px){
    .balance__menu__title {
        padding: 10px 10px 40px 10px;
    }
    .registr__txt{
        width: 320px;
        height: 50px;
    }
    .refillbutt{
        width: 320px;
        font-size: 18px;
    }
    .buttons__balance button{
        font-size: 18px;
        padding: 10px 14px;
    }
    .agreement__list{
        width: 320px;
    }

    .social__list{
        display: flex;
        flex-direction: column;
    }
    .mail{
        margin: 0 auto;
    }
    .footer__txt{
        text-align: center;
    }
    .mail__link{
        display: flex;
        justify-content: center;
    }
    .help__link{
        display: flex;
        justify-content: center;
    }
    .werewolf{
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 460px){
    .logo__img2{
        width: 70%;
    }
    .main{
        padding-top: 110px;
    }
    .dropdown {
        margin-top: 90px;
    }
    .balance__title span{
        font-size: 24px;
    }
    .balance__txt p{
        font-size: 18px;
    }
    .registr__txt{
        width: 300px;
        height: 50px;
        font-size: 14px;
    }
    .refillbutt{
        width: 300px;
        font-size: 14px;
    }
    .agreement__list{
        width: 300px;
    }
    .buttons__balance button{
        padding: 10px 16px;
        font-size: 16px;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width: 380px){
    .balance__title span{
        font-size: 20px;
    }
    .balance__txt p{
        font-size: 16px;
    }
    .registr__txt{
        width: 240px;
        height: 40px;
        font-size: 12px;
    }
    .refillbutt{
        width: 240px;
        font-size: 14px;
        height: 40px;
    }
    .agreement__list{
        width: 240px;
    }
    .buttons__balance button{
        padding: 10px 10px;
        font-size: 14px;
    }
}
@media(max-width: 320px){
    
    .registr__txt{
        width: 220px;
        height: 40px;
    }
    .refillbutt{
        width: 220px;
        font-size: 14px;
    }
    .agreement__list{
        width: 220px;
    }
    .buttons__balance button{
        padding: 8px 10px;
        font-size: 12px;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}